{% extends "pingerweb/base.html" %}

{% block title %}Home - {{ block.super }}{% endblock title %}

{% block content %}

<div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--2-offset-tablet mdl-cell--3-offset-desktop">
    <h3>Project Pinger</h3>
    <p>
    Das Projekt HFT Pinger ist im Rahmen des Moduls Pervasive Computing/Ubiquitous Computing entstanden.
    Ziel des Projekts ist es eine Übersicht über die Rechnernutzung an der HFT zu bekommen.
    <br>
    Der HFT-PC-Finder hilft Ihnen dabei eine Rechnerraum zu finden der ihren aktuellen Suchkriterien entspricht. Für Android Geräte kann diese auch als App installiert werden.
    <br>
    <br>

    <a href='HFTPCFinder.apk'> Download HFT-PC-Finder.apk (Version: 2.0.1, BUILD Date: 25.11.2015, OpenConnect required) for Android </a>
    <br>
    <br>
    Diese Website ermöglicht es Ihnen über diverse Graphen, Informationen über die Rechnernutzung einzusehen.

    </p>
    <br>
    <br>
    <p>
    Idee und ursprüngliche Betreuung: Prof. S. Knauth, M. Schulz-Merkel.
    </p>
    <br/>
    <p>
    Dieses Projekt wird entwickelt von Arthur Grigorjan und Yasin Abdelmonem.
    </p>
    <br/>
    <p>
    Das Projekt wird technisch momentan von Alexander Dobler (alexander.dobler@hft-stuttgart.de) betreut.
    </p>
</div>

{% endblock content %}
